#footer {
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}

#youtube {
}

#facebook {
}

#twitter {
}

#instagram {
}
