.card {
    padding: 50px;
    font-weight: lighter;
    font-size: 30;
}
.card h2 {
    font-size: 70;
}

#footer {
    padding: 30px;
    background: rgb(30, 30, 30);
    color: lightgrey;
  }
  
  #footer a {
    color: lightgrey;
    font-size: 15px;
  }
  #footer a:hover {
    color: white;
  }
  